/* BACKGROUND COLORS AND BORDERS */
.App-header {
    /* background-color: pink; */
}
/* ***************************************** */

.App {
  text-align: center;
}
.App h1 {
  font-size: 2em;
}

.App-header {
  max-height: 25vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-main {
  color: #151515;
}

/* ***************************************** */

@media screen and (max-width: 419px) {
  

}
/* ***************************************** */

@media screen and (min-width: 420) {
  
}

